﻿@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movies";
}

<h2>
    <i class="bi bi-film"></i>
    Movies
</h2>

<hr />

<a class="btn btn-primary" asp-action="Create">
    <i class="bi bi-plus"></i>Add Movie
</a>



<div class="mt-4">
  @if(!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No movies found!
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-2 poster" style="background-image: url(data:image\/*;base64,@(Convert.ToBase64String(movie.Poster)))"></div>
                            <div class="col-md-10">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <h5 class="card-title">@movie.Title (@movie.Year)</h5>
                                        <p class="card-text text-justify">@(movie.Storeline.Length > 500 ? $"{movie.Storeline.Substring(0, 500)}..." : movie.Storeline)</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text mb-0 mt-2">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <small class="text-muted">@movie.Rate.ToString("0.0")</small>
                                        </p>
                                        <div>
                                            <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-outline-secondary">
                                                <i class="bi bi-camera-reels"></i>
                                                Details
                                            </a>

                                            <a href="javascript:;" data-id="@movie.Id" class="btn btn-danger js-delete">
                                                 <i class="bi bi-trash"></i>
                                                Delete
                                            </a>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(()=>{
            $('.js-delete').on('click',function(){
                var btn =$(this);
               console.log(btn.data('id'));
                bootbox.confirm({
                    message: "Are you sure that you need to delete this movie?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/movies/delete/' + btn.data('id'),
                                success: function () {
                                    var movieContainer = btn.parents('.col-12');
                                    movieContainer.addClass('animate__animated animate__zoomOut');

                                    setTimeout(function () {
                                        movieContainer.remove();
                                    }, 1000);

                                    toastr.success('Movies deleted');
                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                }
                            });
                        }
                    }
                });
            })
        });
    </script>
}